<a href="https://colab.research.google.com/github/devkegovind/Python-Pandas/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h4><b>Convert Dictionary To DataFrame</b></h4>

In [3]:
import pandas as pd

In [2]:
d1 = {'key1' : [1, 2, 3, 4, 5, 'govind'],
      'key2': [7, 8, 9, 10, 11, 12],
      'key3': [13, 14, 15, 16, 17, 18],
      'key4': [19, 20, 21, 22, 23, 24]}

In [4]:
df1 = pd.DataFrame(d1)
df1

     key1  key2  key3  key4
0       1     7    13    19
1       2     8    14    20
2       3     9    15    21
3       4    10    16    22
4       5    11    17    23
5  govind    12    18    24

In [5]:
d2 = {'key1' : [1, 2, 3, 4, 5, "govind"],
      'key2' : [7, 8, 'devke', 10, 11, 12],
      'key3' : [13, 14, 15, 16, 17, 18],
      'key4' : [19, 20, 21, 'datascience', 'machine', 24]}

In [6]:
df2 = pd.DataFrame(d2)
df2

     key1   key2  key3         key4
0       1      7    13           19
1       2      8    14           20
2       3  devke    15           21
3       4     10    16  datascience
4       5     11    17      machine
5  govind     12    18           24

<h4><b>Merge two DataFrame</b></h4>

In [12]:
pd.merge(df1, df2)

     key1 key2  key3 key4
0       1    7    13   19
1       2    8    14   20
2  govind   12    18   24

<h4><b>Merge two dataframe with outer join on key4 & key1</b></h4>

In [7]:
pd.merge(df1, df2, how = 'outer', on = ['key4', 'key1'])

     key1  key2_x  key3_x         key4 key2_y  key3_y
0       1     7.0    13.0         19.0      7    13.0
1       2     8.0    14.0         20.0      8    14.0
2       3     9.0    15.0         21.0  devke    15.0
3       4    10.0    16.0         22.0    NaN     NaN
4       5    11.0    17.0         23.0    NaN     NaN
5  govind    12.0    18.0         24.0     12    18.0
6       4     NaN     NaN  datascience     10    16.0
7       5     NaN     NaN      machine     11    17.0

<h4><b>To merge two dataframe with left join on key4</b></h4>

In [8]:
pd.merge(df1, df2, how = 'left', on = 'key4')

   key1_x  key2_x  key3_x key4  key1_y key2_y  key3_y
0       1       7      13   19       1      7    13.0
1       2       8      14   20       2      8    14.0
2       3       9      15   21       3  devke    15.0
3       4      10      16   22     NaN    NaN     NaN
4       5      11      17   23     NaN    NaN     NaN
5  govind      12      18   24  govind     12    18.0

<h4><b>To merge two dataframe with inner join on key4</b></h4>

In [9]:
pd.merge(df1, df2, how = 'inner', on ='key4')

   key1_x  key2_x  key3_x key4  key1_y key2_y  key3_y
0       1       7      13   19       1      7      13
1       2       8      14   20       2      8      14
2       3       9      15   21       3  devke      15
3  govind      12      18   24  govind     12      18

<h4><b>To merge two dataframe with inner join on key1</b></h4>

In [10]:
 pd.merge(df1, df2, how = 'inner', on = 'key1')

     key1  key2_x  key3_x  key4_x key2_y  key3_y       key4_y
0       1       7      13      19      7      13           19
1       2       8      14      20      8      14           20
2       3       9      15      21  devke      15           21
3       4      10      16      22     10      16  datascience
4       5      11      17      23     11      17      machine
5  govind      12      18      24     12      18           24

In [11]:
pd.merge(df1, df2)

     key1 key2  key3 key4
0       1    7    13   19
1       2    8    14   20
2  govind   12    18   24

In [21]:
d10 = {'key11': [1, 2, 3, 4, 5, "govind"],
       'key21' : [7, 8, 9, 10, 11, 12],
       'key31' : [13, 14, 15, 16, 17, 18],
       'key41' : [19, 20, 21, 22, 23, 24]}

In [22]:
d20 = {'key1' : [1, 2, 3, 4, 5, 'govind'],
       'key2' : [7, 8, 'devke', 10, 11, 12],
       'key3' : [13, 14, 15, 16, 17, 18],
       'key4' : [19, 20, 21, 'datascience', 'machine', 24]}

In [23]:
df10 = pd.DataFrame(d10, index = [1, 2, 3, 4, 5, 6])

In [24]:
df20 = pd.DataFrame(d20, index = [1, 2, 3, 4, 5, 'govind'])

In [25]:
df10

    key11  key21  key31  key41
1       1      7     13     19
2       2      8     14     20
3       3      9     15     21
4       4     10     16     22
5       5     11     17     23
6  govind     12     18     24

In [26]:
df20

          key1   key2  key3         key4
1            1      7    13           19
2            2      8    14           20
3            3  devke    15           21
4            4     10    16  datascience
5            5     11    17      machine
govind  govind     12    18           24

In [27]:
df10.join(df20, how='right')

       key11  key21  key31  key41    key1   key2  key3         key4
1          1    7.0   13.0   19.0       1      7    13           19
2          2    8.0   14.0   20.0       2      8    14           20
3          3    9.0   15.0   21.0       3  devke    15           21
4          4   10.0   16.0   22.0       4     10    16  datascience
5          5   11.0   17.0   23.0       5     11    17      machine
govind   NaN    NaN    NaN    NaN  govind     12    18           24

In [28]:
df10.join(df20)

    key11  key21  key31  key41 key1   key2  key3         key4
1       1      7     13     19    1      7  13.0           19
2       2      8     14     20    2      8  14.0           20
3       3      9     15     21    3  devke  15.0           21
4       4     10     16     22    4     10  16.0  datascience
5       5     11     17     23    5     11  17.0      machine
6  govind     12     18     24  NaN    NaN   NaN          NaN

In [29]:
df10.join(df20, how='outer')

         key11  key21  key31  key41    key1   key2  key3         key4
1            1    7.0   13.0   19.0       1      7  13.0           19
2            2    8.0   14.0   20.0       2      8  14.0           20
3            3    9.0   15.0   21.0       3  devke  15.0           21
4            4   10.0   16.0   22.0       4     10  16.0  datascience
5            5   11.0   17.0   23.0       5     11  17.0      machine
6       govind   12.0   18.0   24.0     NaN    NaN   NaN          NaN
govind     NaN    NaN    NaN    NaN  govind     12  18.0           24

In [30]:
df10.join(df20, how='inner')

  key11  key21  key31  key41 key1   key2  key3         key4
1     1      7     13     19    1      7    13           19
2     2      8     14     20    2      8    14           20
3     3      9     15     21    3  devke    15           21
4     4     10     16     22    4     10    16  datascience
5     5     11     17     23    5     11    17      machine

In [31]:
pd.concat([df1, df2], axis = 0)

     key1   key2  key3         key4
0       1      7    13           19
1       2      8    14           20
2       3      9    15           21
3       4     10    16           22
4       5     11    17           23
5  govind     12    18           24
0       1      7    13           19
1       2      8    14           20
2       3  devke    15           21
3       4     10    16  datascience
4       5     11    17      machine
5  govind     12    18           24

In [32]:
pd.concat([df1, df2], axis = 1)

     key1 key2  key3 key4    key1   key2  key3         key4
0       1    7    13   19       1      7    13           19
1       2    8    14   20       2      8    14           20
2       3    9    15   21       3  devke    15           21
3       4   10    16   22       4     10    16  datascience
4       5   11    17   23       5     11    17      machine
5  govind   12    18   24  govind     12    18           24

In [34]:
import numpy as np

In [35]:
np.fromfunction(lambda i,j : i==j, (3, 4))

array([[ True, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False]])

In [36]:
np.fromfunction(lambda i, j : i==j, (3, 4))

array([[ True, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False]])

In [37]:
np.random.rand(2, 3, 2)

array([[[0.89463965, 0.99127513],
        [0.72438316, 0.56207158],
        [0.54863136, 0.34710496]],

       [[0.00480385, 0.52826134],
        [0.78321504, 0.7797939 ],
        [0.64021657, 0.16674442]]])

In [38]:
np.random.rand(2, 3, 2, 2)

array([[[[0.5201792 , 0.53946402],
         [0.36314816, 0.57772742]],

        [[0.44315902, 0.6387366 ],
         [0.85019042, 0.77934817]],

        [[0.3296013 , 0.24703528],
         [0.46827903, 0.49219339]]],


       [[[0.75032536, 0.37775343],
         [0.11625836, 0.19347103]],

        [[0.89038655, 0.15824819],
         [0.87904534, 0.96237756]],

        [[0.68061457, 0.02350775],
         [0.24426626, 0.14741498]]]])

In [39]:
np.random.rand(3, 4, 5)

array([[[8.91344413e-01, 5.28009306e-02, 4.77755899e-01, 4.24338411e-01,
         7.26758681e-02],
        [1.17883000e-04, 4.83972772e-01, 3.96445670e-01, 6.27413170e-01,
         1.26555140e-01],
        [6.62604551e-01, 6.07773302e-01, 3.18395224e-01, 8.20975987e-01,
         3.07479129e-01],
        [8.10328657e-03, 8.80916373e-01, 4.73229433e-01, 3.79707116e-01,
         7.82496587e-01]],

       [[4.77968243e-01, 3.04609711e-01, 6.29550208e-01, 7.73436400e-03,
         9.31074994e-01],
        [6.78360942e-01, 5.95609553e-01, 3.56356482e-01, 3.94231415e-01,
         1.14734589e-01],
        [1.70084534e-01, 8.49997028e-01, 5.62722267e-01, 8.84145425e-01,
         5.73555037e-01],
        [9.13751670e-01, 2.60365057e-01, 6.65392563e-02, 5.89703013e-01,
         6.96905627e-01]],

       [[8.32341417e-01, 5.55025801e-01, 2.15406284e-01, 3.28865361e-01,
         4.67864553e-01],
        [3.19916688e-01, 3.49315425e-01, 5.24840307e-01, 2.37367678e-01,
         2.09318347e-01],
        [9.41935347e-01, 7.34285365e-01, 7.82197060e-01, 9.79204905e-01,
         3.33139977e-01],
        [3.33415596e-01, 9.88680515e-02, 9.76660331e-01, 7.64940722e-01,
         2.82189355e-01]]])

In [40]:
d = np.random.randn(3, 4)

In [41]:
d

array([[-0.26489706,  0.63117185,  0.89479276, -0.0386279 ],
       [ 0.50672438, -0.02852145,  0.02872249, -0.96352655],
       [ 1.13288286,  0.66157637,  1.55493996,  0.21225195]])

In [42]:
pd.DataFrame(d)

          0         1         2         3
0 -0.264897  0.631172  0.894793 -0.038628
1  0.506724 -0.028521  0.028722 -0.963527
2  1.132883  0.661576  1.554940  0.212252

In [43]:
d1 = np.random.randint(0, 10, (4, 4, 2))

In [44]:
d1

array([[[7, 6],
        [7, 5],
        [9, 7],
        [6, 2]],

       [[5, 2],
        [3, 3],
        [2, 2],
        [6, 1]],

       [[8, 3],
        [9, 7],
        [1, 7],
        [2, 6]],

       [[3, 8],
        [2, 5],
        [5, 5],
        [1, 1]]])

In [45]:
d1.reshape(16, 2)

array([[7, 6],
       [7, 5],
       [9, 7],
       [6, 2],
       [5, 2],
       [3, 3],
       [2, 2],
       [6, 1],
       [8, 3],
       [9, 7],
       [1, 7],
       [2, 6],
       [3, 8],
       [2, 5],
       [5, 5],
       [1, 1]])

In [46]:
d1.reshape(4, 8)

array([[7, 6, 7, 5, 9, 7, 6, 2],
       [5, 2, 3, 3, 2, 2, 6, 1],
       [8, 3, 9, 7, 1, 7, 2, 6],
       [3, 8, 2, 5, 5, 5, 1, 1]])

In [47]:
pd.DataFrame(d1.reshape(32, -1))

    0
0   7
1   6
2   7
3   5
4   9
5   7
6   6
7   2
8   5
9   2
10  3
11  3
12  2
13  2
14  6
15  1
16  8
17  3
18  9
19  7
20  1
21  7
22  2
23  6
24  3
25  8
26  2
27  5
28  5
29  5
30  1
31  1